*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px;
}
.form-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.apply-button{
    display: flex;
    justify-content: flex-end;
}
.T{
    width: 80px;
    height: 30px;
    background-color: rgb(215, 37, 37);
    color:white;
    border-radius: 10px;
    
}